.venv
.client_secrets.json
.youtube-upload-credentials.json
client_secrets_2.json
client_secrets.json
credentials_2.json
credentials.json
example.mp4
token.json
build.bat
build/
dist/
ytu.spec
sources/